%h1 #{@user.username}'s Page

- if @user != current_user
  = button_to('follow', action: :create, controller: 'pending_requests', user: @user)
- else
  This is your profile page.
  = link_to "Go to your feed.", root_path

